.News {
    position: absolute;
    width: 1903px;
    height: 2000px;
    top: 0px;
    left: 0px;
}

.Today {
    position: absolute;
    width: 301px;
    height: 368px;
    left: 309px;
    top: 120px;
}

.TopText {
position: absolute;
width: 377px;
left: 8px;
top: 10px;

font-family: 'Manrope';
font-size: 12px;

color: #000000;
}

.News1 {
    position: absolute;
    width: 301px;
    height: 65px;
    left: 7px;
    top: 102px;  
}

.Text {
    position: absolute;
    width: 339px;
    height: 49px;
    left: 2px;
    top: -14px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #353333;
    }

    .downslesh {
        position: absolute;
        left: -1px;
        top: 52px;
    }

    .News2 {
        position: absolute;
        width: 301px;
        height: 87px;
        left: 7px;
        top: 185px;
    }
    
    .Text2 {
        position: absolute;
        width: 306px;
        height: 49px;
        left: 2px;
        top: -20px;
        
        font-family: 'Manrope';
        font-size: 10px;
        
        color: #353333;
        }
    
        .downslesh2 {
            position: absolute;
            left: -1px;
            top: 73px;
        }

        .News3 {
            position: absolute;
            width: 301px;
            height: 72px;
            left: 7px;
            top: 303px;
        }
        
        .Text3 {
            position: absolute;
            width: 306px;
            height: 49px;
            left: 2px;
            top: -19px;
            
            font-family: 'Manrope';
            font-size: 10px;
            
            color: #353333;
            }
        
            .downslesh3 {
                position: absolute;
                left: 0px;
                top: 59px;
            }

.TopLogo {
    position: absolute;
    width: 836px;
    height: 79px;
    left: 530px;
    top: 17px;
}

.Logo {
    position: absolute;
    top: 0px;
    left: 347px;
}

.downsleshLong {
    position: absolute;
    top: 66px;
    left: 8px;
}

.Main {
    position: absolute;
    width: 642px;
    height: 1730px;
    left: 636px;
    top: 153px;
}

.MainText {
    position: absolute;
    left: 8px;
    top: -22px;
    
    font-family: 'Manrope';
    font-size: 12px;
    
    color: #000000;
}

.MainNews1 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 337px;
    top: 1451px;
}

.MainPhoto1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText1 {
    position: absolute;
    width: 384px;
    left: -1px;
    top: 169px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh1 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews3 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 335px;
    top: 1155px;
}

.MainPhoto3 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText3 {
    position: absolute;
    width: 310px;
    left: -1px;
    top: 169px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh3 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews4 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 9px;
    top: 1155px;
}

.MainPhoto4 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText4 {
    position: absolute;
    width: 310px;
    left: -1px;
    top: 167px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh4 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews5 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 333px;
    top: 859px;
}

.MainPhoto5 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText5 {
    position: absolute;
    width: 318px;
    left: -1px;
    top: 171px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh5 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews6 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 9px;
    top: 859px;
}

.MainPhoto6 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText6 {
    position: absolute;
    width: 318px;
    left: -1px;
    top: 171px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh6 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews7 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 330px;
    top: 563px;
}

.MainPhoto7 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText7 {
    position: absolute;
    width: 318px;
    left: 3px;
    top: 171px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh7 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews8 {
    position: absolute;
    width: 300px;
    height: 274px;
    left: 9px;
    top: 563px;
}

.MainPhoto8 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText8 {
    position: absolute;
    width: 318px;
    left: -1px;
    top: 171px;
    
    font-family: 'Manrope';
    font-size: 10px;
    
    color: #000000;
}

.Maindownslesh8 {
    position: absolute;
    top: 261px;
    left: 0px;
}

.MainNews9 {
    position: absolute;
    width: 623px;
    height: 491px;
    left: 9px;
    top: 45px;
}

.MainPhoto9 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.MainText9 {
    position: absolute;
    width: 598px;
    height: 37px;
    left: -1px;
    top: 358px;
    
    font-family: 'Manrope';
    font-size: 16px;
    
    color: #000000;
}

.Maindownslesh9 {
    position: absolute;
    top: 478px;
    left: 165px;
}