@media only screen and (max-width: 1200px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 320px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 320px) {
    .TopLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Today {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}